<div id="form" style="background-color: #CCF; padding: 0 5px 5px 5px;">
<h3> Answer the following questions about the video </h3>
<h4> 1. Is this video related to the activity <font color="#7E120F"><b>%s</b></font>?</h4>
<div id="form-related" class="btn-group" data-toggle="buttons" style="margin-left: 20px;">
  <label type="button" class="btn btn-danger btn-sm btn-danger-cool"><input type="radio" name="form-related" value="No">No</label>
  <label type="button" class="btn btn-success btn-sm btn-success-cool"><input type="radio" name="form-related" value="Yes">Yes</label></br>
</div>

<h4> 2. Is this video an animation or was recorded from a video game?</h4>
<div id="form-animation" class="btn-group" data-toggle="buttons" style="margin-left: 20px;">
  <label type="button" class="btn btn-danger btn-sm btn-danger-cool"><input type="radio" name="form-animation" value="No">No</label>
  <label type="button" class="btn btn-success btn-sm btn-success-cool"><input type="radio" name="form-animation" value="Yes">Yes</label>
</div>

<h4> 3. Does this video contains a <font color="#7E120F"><b>human</b></font> performing the activity 
       <font color="#7E120F"><b>%s</b></font>?</h4>
<div id="form-performing" class="btn-group" data-toggle="buttons" style="margin-left: 20px;">
  <label type="button" class="btn btn-danger btn-sm btn-danger-cool"><input type="radio" name="form-performing" value="No">No</label>
  <label type="button" class="btn btn-success btn-sm btn-success-cool"><input type="radio" name="form-performing" value="Yes">Yes</label>
</div></br>
</div>
